<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|IBM+Plex+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link rel="stylesheet" href="static/style.css">
    <title>🕵️‍♂️ ClaimsDetective 🕵️‍♂️</title>
</head>

<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <img class="header-logo-image asset-light" src="static/images/SR_Logo_IptiQ2.png"
                                    alt="Logo">
                                <img class="header-logo-image asset-dark" src="static/images/SR_Logo_IptiQ2.png"
                                    alt="Logo">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">ClaimsDetective</h1>
                            <p class="hero-paragraph">The Claims Detective API is an innovative solution designed to
                                combat fraud in motor insurance claims. By analyzing user-uploaded images and decoding
                                voice messages, it meticulously inspects vehicle damage, verifies picture authenticity
                                and timeframe, ultimately enhancing the accuracy and reliability of claim assessments.
                            </p>
                            <div class="hero-cta">

                              
                            </div>
                        </div>
                        <div class="hero-media">
                            <div class="header-illustration">
                              
                                <img class="header-illustration-image asset-dark"
                                    src="static/images/header-illustration-dark.svg" alt="Header illustration">
                            </div>
                            <div class="hero-media-illustration">
                                <img class="hero-media-illustration-image asset-light"
                                    src="static/images/hero-media-illustration-light.svg" alt="Hero media illustration" style="position: relative">
                                <img class="hero-media-illustration-image asset-dark"
                                    src="static/images/hero-media-illustration-dark.svg" alt="Hero media illustration">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="problems section">
                <div class="container">
                    <div class="problems-inner section-inner has-bottom-divider">
                        <div class="container-sm">
                            <h2 class="section-title mt-0 text-center">The Problem 📉</h2>
                            <div class="text-center">
                                <p class="section-paragraph" style="font-size: 1.2em;">
                                    In the world of motor insurance claims, several recurring problems hamper the process of settling claims efficiently and accurately. These include:
                                </p>
                                <ul class="problem-list" style="font-size: 1.1em; list-style: none; padding: 0;">
                                    <li style="margin-bottom: 1em;"><strong>🚧 Fraudulent Claims:</strong> Our reports show that 15% of the claims are fraudulent, therefore with Claims Detective we plan to reduce this number to below 5%.</li>
                                    <li style="margin-bottom: 1em;"><strong>⏱️ Long Processing Times:</strong> Traditional methods of assessing damage and processing claims are time-consuming, leading to delays in settling claims.</li>
                                    <li style="margin-bottom: 1em;"><strong>📸 Inaccurate Damage Assessment:</strong> Assessing vehicle damage from pictures alone can often lead to inaccuracies and inconsistencies in claim assessments.</li>
                                    <li style="margin-bottom: 1em;"><strong>💸 Cost Implications:</strong> The time and resources invested in claim assessments result in substantial costs, ultimately affecting the bottom line.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>            

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="features-header text-center">
                            <div class="container-sm">
                                <h2 class="section-title mt-0">Solution</h2>
                                <p class="section-paragraph">ClaimsDetective is an innovative AI solution that harnesses
                                    the power of machine learning to detect and analyze damages in car images,
                                    transforming the way we approach vehicle inspections. With its advanced detection
                                    capabilities, it streamlines the process of damage identification, providing
                                    accurate, fast, and reliable results every time.</p>
                                <div class="features-image">

                                </div>
                            </div>
                        </div>
                        <div class="features-wrap">
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img class="asset-light" src="static/images/feature-01-light.svg"
                                            alt="Feature 01">
                                        <img class="asset-dark" src="static/images/feature-01-dark.svg"
                                            alt="Feature 01">
                                    </div>
                                    <div class="feature-content">
                                        <h3 class="feature-title mt-0">Discover</h3>
                                        <p class="text-sm mb-0">Test our product by scrolling to the end of the page and
                                            upload a picture with a damaged car.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img class="asset-light" src="static/images/feature-02-light.svg"
                                            alt="Feature 02">
                                        <img class="asset-dark" src="static/images/feature-02-dark.svg"
                                            alt="Feature 02">
                                    </div>
                                    <div class="feature-content">
                                        <h3 class="feature-title mt-0">Innovative</h3>
                                        <p class="text-sm mb-0">Our AI model is a custom-built model, that was trained
                                            on a sample of over 1 million pictures with cars.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img class="asset-light" src="static/images/feature-03-light.svg"
                                            alt="Feature 03">
                                        <img class="asset-dark" src="static/images/feature-03-dark.svg"
                                            alt="Feature 03">
                                    </div>
                                    <div class="feature-content">
                                        <h3 class="feature-title mt-0">Efficient</h3>
                                        <p class="text-sm mb-0">Our objective is to save costs and increase the
                                            efficiency in settling insurance claims.</p>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="container-sm">
                            <h2 class="section-title mt-0 text-center">Key Features</h2>
                            <div class="text-center">
                                <p class="section-paragraph">
                                    The ClaimsDetective API offers a suite of features designed to streamline and enhance the claim assessment process. Our key features include:
                                </p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="feature-block">
                                            <img src="static/images/fraud_detection.gif" alt="Fraud Detection">
                                            <h3>Fraud Detection</h3>
                                            <p>
                                                Analyze user-uploaded images and detect possible tampering or forgery. Our sophisticated algorithm provides an additional layer of verification to enhance claim authenticity.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="feature-block">
                                            <img src="static/images/damage_detection.gif" alt="Damage Detection">
                                            <h3>Damage Detection</h3>
                                            <p>
                                                Harnessing the power of machine learning, our system inspects vehicle damage in pictures with exceptional accuracy. This feature helps to expedite the claim assessment process and reduce manual errors.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="feature-block">
                                            <img src="static/images/voice_to_text.gif" alt="Voice Messages">
                                            <h3>Voice Messages</h3>
                                            <p>
                                                With our voice message analysis, we extract and decode important information from claimants' voice messages. This feature makes it easy to process and manage claim information quickly and efficiently.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner">
                        <div class="features-header text-center">
                            <div class="container-sm">
                                <h2 class="section-title mt-0">Efficiency</h2>
                                <p class="section-paragraph">With ClaimsDetective, insurers can drastically improve the speed and cost-effectiveness of processing claims. Here's a summary of how our solution stands out:</p>
                            </div>
                        </div>
                        <div class="features-wrap">
                            <div class="feature is-revealing text-center">
                                <div class="feature-inner">
                                    <div class="feature-content text-center" style="display: flex; justify-content: center;">
                                        <h3 class="feature-title mt-0">Time Savings</h3>
                                        <img class="asset-light" src="static/images/time-graph.gif" alt="Time Savings Graph">
                                        <p class="text-sm mb-0">Our solution reduces claim processing time by up to 70% compared to traditional methods.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner text-center">
                                    <div class="feature-content text-center" style="display: flex; justify-content: center;">
                                        <h3 class="feature-title mt-0">Cost Efficiency</h3>
                                        <img class="asset-light text-center" src="static/images/cost-graph.gif" alt="Cost Efficiency Graph">
                                        <p class="text-sm mb-0">Reduce costs associated with claim settlements by up to 25% while increasing accuracy and reliability.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="features-header text-center">
                            <div class="container-sm">
                                <h2 class="section-title mt-0">🥷 Fraud Detection 🥷</h2>
                                <p class="section-paragraph">ClaimsDetective has a unique algorithm that can detect
                                    fraud in uploaded pictures. By checking the photo metadata, we can compute if the
                                    photo has been tampered with.</p>
                                <div class="features-image">
                                </div>
                            </div>
                        </div>
            
            
                        <div class="features-wrap">
                            <div class="feature is-revealing">
                                <div class="feature-inner">
            
                                    <div class="feature-content">
                                        <h3 class="feature-title mt-0">Test Fraud Detection</h3>
                                        <p class="text-sm mb-0">Test our product by uploading a photo that has been
                                            altered with Photoshop or any photo editing software!</p>
                                    </div>
                                    <div class="cta-cta">
            
                                        <form id="myForm" class="form-signin" method="POST" enctype="multipart/form-data">
                                            <h1 class="h3 mb-5 font-weight-normal">Upload any image for fraud detection</h1>
                                            <input type="file" name="file" class="form-control-file" id="inputfile"
                                            style="display: block; width: 170%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box; border: none; border-radius: 4px; background-color: #3CBC8D; color: white;">
                                            <br />
                                            <input type="text" name="policyStartDate" placeholder="Policy Start Date"
                                                class="form-control" required style="display: block; width: 170%;">
                                            <input type="text" name="policyEndDate" placeholder="Policy End Date" style="display: block; width: 170%;"
                                                class="form-control" required>
                                            <input type="text" name="country" placeholder="Country" class="form-control" style="display: block; width: 170%;"
                                                required>
                                            <br />
                                            <button class="button button-primary submit-button" type="submit" style="display: block; width: 170%;">Submit</button>
                                        </form>
            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Modal -->
            <div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="responseModalLabel">API Response</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center; height: 200px;">
                            <!-- Placeholder image -->
                            <img src="static/images/response.gif" alt="Fraud Detection">
                        </div>
                        <div class="modal-body" id="responseModalBody">
                            
                            <!-- API response data will be inserted here -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- JavaScript -->
            
            


            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="features-header text-center">
                            <div class="container-sm">
                                <h2 class="section-title mt-0">🚗 Damage Detection 🏠</h2>
                                <p class="section-paragraph">ClaimsDetective uses machine learning to detect damage in
                                    pictures submitted to claims.</p>
                                <div class="features-image">
                                </div>
                            </div>
                        </div>


                        <div class="features-wrap">
                            <div class="feature is-revealing">
                                <div class="feature-inner">

                                    <div class="feature-content">
                                        <h3 class="feature-title mt-0">Test Damage Detection</h3>
                                        <p class="text-sm mb-0">Test our product by uploading a photo containing the
                                            damage of the car or house for which the claim is raised for.</p>
                                    </div>
                                    <div class="cta-cta">
                                        <form id="claimsForm" class="form-signin" method="POST"
                                        enctype="multipart/form-data">
                                        <h1 class="h3 mb-5 font-weight-normal">Upload any image for claims
                                            assessment
                                        </h1>
                                        <input type="file" name="file" class="form-control-file" id="inputfile"
                                            style="display: block; width: 170%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box; border: none; border-radius: 4px; background-color: #3CBC8D; color: white;">
                                        <br />
        
                                        <button class="button button-primary submit-button" id="submit-form-claims" type="submit"
                                            style="display: block; width: 170%;">Submit</button>
                                    </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>


            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="features-header text-center">
                            <div class="container-sm">
                                <h2 class="section-title mt-0">🎤 Voice Message Detection 🎤</h2>
                                <p class="section-paragraph">ClaimsDetective can retrieve the claim information from the
                                    voice message that is left by the customer.</p>
                                <div class="features-image">
                                </div>
                            </div>
                        </div>
            
                        <div class="features-wrap">
                            <div class="feature is-revealing">
                                <div class="feature-inner">
            
                                    <div class="feature-content">
                                        <h3 class="feature-title mt-0">Test Voice Message Detection</h3>
                                        <p class="text-sm mb-0" style="width: 100%;">Test our product by uploading a wav file containing the
                                            information about the claim.</p>
                                    </div>
                                    <div class="cta-cta">
                                        <form id="voiceForm" class="form-signin" method="POST" enctype="multipart/form-data">
                                
                                            <input type="file" name="file" class="form-control-file" id="inputAudio"
                                                style="display: block; width: 170%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box; border: none; border-radius: 4px; background-color: #3CBC8D; color: white;">
                                            <br />
                                            <button class="button button-primary" style="display: block; width: 170%;" type="button" onclick="audioForm()">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
            </section>

            <script>
                function audioForm() {
                  // Get the form and input file element
                  const form = document.getElementById('voiceForm');
                  const inputFile = document.getElementById('inputAudio');
                
                  // Create FormData object and append the file to it
                  const formData = new FormData();
                  formData.append('file', inputFile.files[0]);
                
                  // Make the API call using fetch
                  fetch('/transcribe', {
                    method: 'POST',
                    body: formData,
                  })
                  .then(function(response) {
                        return response.json(); // parse the response as JSON
                    })
                    .then(function(data) {
                        // insert the response data into the modal
                        document.getElementById('responseModalBody').textContent = JSON.stringify(data, null, 2);
                        // display the modal
                        $('#responseModal').modal('show');
                    })
                    .catch(function(error) {
                        console.error('Error:', error);
                    });
                }
                </script>
                <script>
                    function parseResponse(data) {
                        var extractedCode = data;
                        let htmlMatch = data.match(/```(?:html)?([\s\S]+?)```/);
            
                        // Check if there is a match
                        if (htmlMatch && htmlMatch.length > 1) extractedCode = htmlMatch[1].trim();
                        return extractedCode;
                    }
            
                    function changeSubmitButtonText(id, text) {
                        let button = document.getElementById(id);
                        button.innerHTML = text;
                    }
                </script>
                 <script>
                    document.getElementById('claimsForm').addEventListener('submit', function (event) {
                        event.preventDefault();
                        changeSubmitButtonText("submit-form-claims", "Loading ...");
                        var formData = new FormData(this);
            
                        fetch('/claims', {
                            method: 'POST',
                            body: formData
                        })
                            .then(function (response) {
                                return response.text();
                            })
                            .then(function (data) {
                                debugger;
                                var parsedData = parseResponse(data)
                                document.getElementById('responseModalBody').innerHTML = parsedData;
            
                                // Display the modal
                                $('#responseModal').modal('show');
                                changeSubmitButtonText("submit-form-claims", "Submit")
                            })
                            .catch(function (error) {
                                console.error('Error:', error);
                            });
                    });
                </script>
        </main>

        <script>
            document.getElementById('myForm').addEventListener('submit', function(event) {
                event.preventDefault(); // prevent the form from submitting the traditional way
                var formData = new FormData(this); // create a new FormData object and pass in 'this' (the form) as the argument
        
                fetch('/formdata', {
                    method: 'POST',
                    body: formData
                })
                .then(function(response) {
                    return response.json(); // parse the response as JSON
                })
                .then(function(data) {
                    // insert the response data into the modal
                    document.getElementById('responseModalBody').textContent = JSON.stringify(data, null, 2);
                    // display the modal
                    $('#responseModal').modal('show');
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
            });
        </script>

        <footer class="site-footer has-top-divider">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="#">
                            <img class="asset-light" src="static/images/SR_Logo_IptiQ2.png" alt="Logo">
                            <img class="asset-dark" src="static/images/SR_Logo_IptiQ2.png" alt="Logo">
                        </a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="https://bitheap.tech">Contact</a>
                        </li>
                        <li>
                            <a href="https://bitheap.tech">About us</a>
                        </li>
             
                    </ul>
                    <ul class="footer-social-links list-reset">
                        <li>
                            <a href="https://www.instagram.com/bitheap.tech/">
                                <span class="screen-reader-text">Instagram</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z"
                                        fill="#FFF" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Bitheap_tech">
                                <span class="screen-reader-text">Twitter</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z"
                                        fill="#FFF" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://bitheap.tech">
                                <span class="screen-reader-text">Google</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z"
                                        fill="#FFF" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="footer-copyright">&copy; 2023 ClaimsDetective, all rights reserved</div>
                </div>
            </div>
        </footer>
    </div>

    <script src="static/script.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>


    <script src="static/js/main.min.js"></script>
</body>

</html>
